<!DOCTYPE html>
<html>
  <head>
    <title><%= appName %></title>
    <!-- openmrs favicon -->
    <link rel="shortcut icon" type="image/ico" href="../../images/openmrs-favicon.ico"/>
    <link rel="icon" type="image/png" href="../../images/openmrs-favicon.png"/>
  </head>
  <body>
    <header>
      <div class="logo">
          <a href="../../">
              <img src="img/openmrs-with-title-small.png"/>
          </a>
      </div>
      <span class="app-title"><%= appName %></span>
    </header>
    <div class="clear"></div>
    <div id="body-wrapper">
      <div class="instructions">Replace this with the content of your app.</div>
    </div>

  </body>
</html>
